.connector {
  background-color: #e0e0e0;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.connector-horizontal {
  width: 100%;
  height: 2.5px;
  margin-bottom: 60px;
  align-self: center;
}

.connector-vertical {
  height: auto;
  min-height: 4rem;
  width: 2.5px;
  margin-left: 25px; 
}

.connector-completed {
  background-color: #000;
}

.connector-active {
  background-color: #000;
}

.connector-disabled {
  opacity: 0.4;
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 20px 0;
  }
}

@media (max-width: 768px) {
  .connector-vertical {
    margin-left: 20px; 
  }
}

@media (max-width: 480px) {
  .connector-horizontal {
    display: none;
  }

  .connector-vertical {
    margin-left: 30px; 
  }
}
